felix.fileinstall.filename="file:/var/lib/openhab2/etc/jmx.acl.org.apache.karaf.bundle.cfg"
install="manager"
refresh="manager"
resolve="manager"
restart="manager"
service.bundleLocation="?"
service.pid="jmx.acl.org.apache.karaf.bundle"
setStartLevel="manager"
setStartLevel(java.lang.String,="int)[/([1-4])?[0-9]/,/.*/]\ \=\ admin"
start="manager"
start(java.lang.String)[/([1-4])?[0-9]/]="admin"
stop="manager"
stop(java.lang.String)[/([1-4])?[0-9]/]="admin"
uninstall="admin"
uninstall(java.lang.String)[\"0\"]="#this\ is\ a\ comment,\ no\ roles\ can\ perform\ this\ operation"
update="manager"
update(java.lang.String)[/([1-4])?[0-9]/]="admin"
update(java.lang.String,java.lang.String)[/([1-4])?[0-9]/,/.*/]="admin"
