:org.apache.felix.configadmin.revision:=L"4"
felix.fileinstall.filename="file:/var/lib/openhab2/etc/org.ops4j.pax.url.mvn.cfg"
org.ops4j.pax.url.mvn.connection.bufferSize="8192"
org.ops4j.pax.url.mvn.connection.retryCount="3"
org.ops4j.pax.url.mvn.defaultRepositories="file:/usr/share/openhab2/runtime/system@id\=system.repository@snapshots,\ file:/var/lib/openhab2/tmp/kar@id\=kar.repository@multi@snapshots,\ file:/var/lib/openhab2/system@id\=child.system.repository@snapshots"
org.ops4j.pax.url.mvn.localRepository="/var/lib/openhab2/tmp/mvn"
org.ops4j.pax.url.mvn.repositories="https://openhab.jfrog.io/openhab/libs-release@id\=openhab,https://jcenter.bintray.com/@id=jcenter"
org.ops4j.pax.url.mvn.socket.connectionTimeout="5000"
org.ops4j.pax.url.mvn.socket.keepAlive="false"
org.ops4j.pax.url.mvn.socket.linger="-1"
org.ops4j.pax.url.mvn.socket.readTimeout="30000"
org.ops4j.pax.url.mvn.socket.reuseAddress="false"
org.ops4j.pax.url.mvn.socket.tcpNoDelay="true"
org.ops4j.pax.url.mvn.timeout="5000"
org.ops4j.pax.url.mvn.useFallbackRepositories="false"
service.bundleLocation="?"
service.pid="org.ops4j.pax.url.mvn"
