felix.fileinstall.filename="file:/var/lib/openhab2/etc/org.ops4j.pax.web.cfg"
org.ops4j.pax.web.config.file="/usr/share/openhab2/runtime/etc/jetty.xml"
org.ops4j.pax.web.server.idleTimeout="300000"
org.ops4j.pax.web.server.maxThreads="50"
org.ops4j.pax.web.server.minThreads="2"
org.ops4j.pax.web.session.timeout="10"
org.ops4j.pax.web.ssl.clientauthneeded="false"
org.ops4j.pax.web.ssl.clientauthwanted="false"
org.osgi.service.http.secure.enabled="true"
org.osgi.service.http.useNIO="true"
service.bundleLocation="?"
service.pid="org.ops4j.pax.web"
