admin="org.apache.karaf.admin.command"
config="org.apache.karaf.shell.config"
features="org.apache.karaf.features.command"
felix.fileinstall.filename="file:/var/lib/openhab2/etc/org.apache.karaf.command.acl.scope_bundle.cfg"
jaas="org.apache.karaf.jaas.command"
log="org.apache.karaf.shell.log"
osgi="org.apache.karaf.shell.osgi"
packages="org.apache.karaf.shell.packages"
service.bundleLocation="?"
service.pid="org.apache.karaf.command.acl.scope_bundle"
shell="org.apache.karaf.shell.commands"
ssh="org.apache.karaf.shell.ssh"
