:org.apache.felix.configadmin.revision:=L"2"
configCfgStore="false"
featuresBoot="instance/4.2.7,\ package/4.2.7,\ log/4.2.7,\ ssh/4.2.7,\ framework/4.2.7,\ system/4.2.7,\ eventadmin/4.2.7,\ feature/4.2.7,\ shell/4.2.7,\ service/4.2.7,\ jaas/4.2.7,\ openhab-runtime-base,\ openhab-ui-dashboard,\ deployer/4.2.7,\ diagnostic/4.2.7,\ bundle/4.2.7,\ config/4.2.7,\ kar/4.2.7"
featuresBootAsynchronous="false"
featuresRepositories="mvn:org.openhab.distro/distro/2.5.3/xml/features,\ mvn:org.openhab.distro/openhab-addons/2.5.3/xml/features,\ mvn:org.apache.karaf.features/framework/4.2.7/xml/features,\ mvn:org.apache.karaf.features/standard/4.2.7/xml/features"
felix.fileinstall.filename="file:/var/lib/openhab2/etc/org.apache.karaf.features.cfg"
service.bundleLocation="?"
service.pid="org.apache.karaf.features"
