encryption.algorithm="SHA-256"
encryption.enabled="true"
encryption.encoding="hexadecimal"
encryption.name="basic"
encryption.prefix="{CRYPT}"
encryption.suffix="{CRYPT}"
felix.fileinstall.filename="file:/var/lib/openhab2/etc/org.apache.karaf.jaas.cfg"
service.bundleLocation="?"
service.pid="org.apache.karaf.jaas"
