completionMode="GLOBAL"
felix.fileinstall.filename="file:/var/lib/openhab2/etc/org.apache.karaf.shell.cfg"
hostKey="/var/lib/openhab2/etc/host.key"
hostKeyFormat="simple"
service.bundleLocation="?"
service.pid="org.apache.karaf.shell"
sftpEnabled="true"
sshHost="127.0.0.1"
sshIdleTimeout="1800000"
sshPort="8101"
sshRealm="karaf"
