SymmetricKeyCipher="mvn:org.openhab.core.bundles/org.openhab.core.auth.oauth2client/2.5.0"
org.apache.karaf.http="mvn:org.apache.karaf.http/org.apache.karaf.http.core/4.2.7"
org.openhab.addons="mvn:org.openhab.core.bundles/org.openhab.core.karaf/2.5.0"
org.openhab.dashboard="mvn:org.openhab.ui.bundles/org.openhab.ui.dashboard/2.5.3"
org.openhab.gpio="mvn:org.openhab.io/org.openhab.io.gpio/[1.14.0,1.15)"
